* {
  font-family: Arial, Helvetica, sans-serif; /* Standard font for now, will change to fit theme */
  margin: 0; /* 0 margin to make it go all the way to the edge */
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex; /* flex the entire body */
  justify-content: center; /* center the content in the horizontal axis */
  align-items: center; /* center the content in the vertical axis */
  height: 100%; 
  background-color: skyblue; /* Change this to an off-white colour */
}

.game-area {
  background: blue; /* Change this to a much more appealing colour */
  width: 500px; /* How can i change this property so it scales with the screen? */
  height: 700px; /* Same comment as above */
  display: flex;
  flex-direction: column;
}

.title-area {
  color: white;
  font-size: 1rem;
  padding: 20px 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-details {
  color: white;
  font-size: small;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  width: 100%;
  height: 100%;
  background: darkblue;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr); /* Will split the grid into an equal 30x30 grid */
}